body{
    background-color: #000000;
    color: #FFFFFF;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p{
    font-family: monospace;
}

a:link,
a:visited{
    color: #6ABFEE;
}