body{
    background-color: #0C0317;
    color: #FFFFFF;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.terminalText{
    font-size: 30pt;
    white-space: pre-wrap;
    font-family: monospace;
    display: inline;
}

.terminalWindow{
    border-color: #FFFFFF;
    border-radius: 8pt;
    border-width: 1pt;
    border-style: solid;
    margin: auto;
    width: 85%;
    cursor: default;
    padding: 20pt;
}

.terminalLeadingText{
    display: inline;
    font-family: monospace;
    font-size: 30pt;
    color: #838383;
}

a:link,
a:visited{
    color: #6ABFEE;
}